@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 2%;
  margin: 0 auto;
}

header {
  width: 100%;
  background: url("../images/bg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom center;
}

header nav {
  width: 100%;
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  position: relative;
  z-index: 20;
}

header nav .toggle {
  display: none;
}

header nav ul.mobile {
  display: none;
}

header nav ul {
  list-style-type: none;
  display: inline-block;
}

header nav ul li {
  display: inline-block;
  margin-right: 40px;
  font-weight: 300;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li:last-child a {
  -webkit-transition: all 200ms ease-out 0s;
  transition: all 200ms ease-out 0s;
  text-transform: uppercase;
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid white;
}

header nav ul li:last-child a:hover {
  background-color: white;
  color: #ff682c;
}

header .banner {
  padding: 200px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 650px;
}

header .banner h2 {
  color: white;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
}

header .banner p {
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 20px;
}

header .banner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .banner form input {
  padding: 15px 10px 15px 40px;
  background-color: white;
  font-size: 17px;
  border-radius: 100px;
  border: none;
  outline: none;
}

header .banner form input::-webkit-input-placeholder {
  color: #ccc;
}

header .banner form input:-ms-input-placeholder {
  color: #ccc;
}

header .banner form input::-ms-input-placeholder {
  color: #ccc;
}

header .banner form input::placeholder {
  color: #ccc;
}

header .banner form input:first-child {
  margin-right: 20px;
  width: 100%;
  max-width: 325px;
}

header .banner form input:last-child {
  -webkit-transition: all 350ms ease-out 0s;
  transition: all 350ms ease-out 0s;
  background-color: #ff682c;
  text-align: center;
  padding-right: 40px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

header .banner form input:last-child:hover {
  background-color: #e0531a;
}

section.resenha {
  padding: 80px 4%;
}

section.resenha .container {
  text-align: center;
}

section.resenha .container h3 {
  margin: 0 auto;
  max-width: 860px;
  color: #6a7c92;
  font-size: 1.7rem;
  font-weight: 300;
}

section.resenha .container h3 Strong {
  font-size: bold;
}

section.descricao-danki {
  padding: 40px 2%;
}

section.descricao-danki .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.descricao-danki .container .detalhes {
  text-align: left;
  width: 55%;
  padding-right: 30px;
}

section.descricao-danki .container .detalhes h2 {
  margin-bottom: 20px;
  color: #6a7c92;
  line-height: 2rem;
}

section.descricao-danki .container .detalhes p {
  color: #6a7c92;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.7rem;
}

section.descricao-danki .container .project-client {
  width: 45%;
}

section.descricao-danki .container .project-client img {
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

section.depoimento-client {
  padding: 20px 0px 170px 0px;
}

section.depoimento-client .container {
  position: relative;
}

section.depoimento-client .container img {
  width: 100%;
}

section.depoimento-client .container .depoimento {
  width: 45%;
  padding: 50px;
  background-color: white;
  position: absolute;
  bottom: -80px;
  right: 100px;
  -webkit-box-shadow: 0px 8px 60px 0px rgba(95, 95, 95, 0.2);
          box-shadow: 0px 8px 60px 0px rgba(95, 95, 95, 0.2);
}

section.depoimento-client .container .depoimento h4 {
  color: #6a7c92;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

section.depoimento-client .container .depoimento small {
  font-weight: bold;
  color: #6a7c92;
  font-size: 1.2rem;
}

@-webkit-keyframes balance {
  100% {
    top: 200%;
  }
}

@keyframes balance {
  100% {
    top: 200%;
  }
}

section.servicos {
  padding: 40px 0px 50px 0px;
}

section.servicos .container .text_with_arrow {
  text-align: center;
  color: #6a7c92;
  font-size: 2rem;
  position: relative;
}

section.servicos .container .text_with_arrow::after {
  content: '';
  width: 20px;
  height: 3px;
  background: #6a7c92;
  position: absolute;
  top: 155%;
  left: 50%;
  -webkit-animation: 1s balance ease-out 0s alternate infinite;
          animation: 1s balance ease-out 0s alternate infinite;
  -webkit-transform: translate(-60%, -50%) rotate(40deg);
          transform: translate(-60%, -50%) rotate(40deg);
}

section.servicos .container .text_with_arrow::before {
  content: '';
  width: 20px;
  height: 3px;
  background: #6a7c92;
  position: absolute;
  top: 155%;
  left: 50%;
  -webkit-animation: 1s balance ease-out 0s alternate infinite;
          animation: 1s balance ease-out 0s alternate infinite;
  -webkit-transform: translate(10%, -50%) rotate(-40deg);
          transform: translate(10%, -50%) rotate(-40deg);
}

section.servicos .container .servicos-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
}

section.servicos .container .servicos-cards .card {
  cursor: pointer;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  width: calc(95% / 3);
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 70px -20px rgba(0, 0, 0, 0.205);
          box-shadow: 0px 4px 70px -20px rgba(0, 0, 0, 0.205);
  overflow: hidden;
  margin-bottom: 30px;
}

section.servicos .container .servicos-cards .card .img-card {
  width: 100%;
  padding: 24%;
  background: url("../images/img3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

section.servicos .container .servicos-cards .card:nth-of-type(2) .img-card {
  background: url("../images/img1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

section.servicos .container .servicos-cards .card:nth-of-type(3) .img-card {
  background: url("../images/img2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

section.servicos .container .servicos-cards .card:nth-of-type(4) .img-card {
  background: url("../images/img4.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

section.servicos .container .servicos-cards .card:nth-of-type(5) .img-card {
  background: url("../images/img5.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

section.servicos .container .servicos-cards .card:nth-of-type(6) .img-card {
  background: url("../images/img6.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

section.servicos .container .servicos-cards .card .content-card {
  padding: 20px;
}

section.servicos .container .servicos-cards .card .content-card h3 {
  color: #6a7c92;
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 10px;
}

section.servicos .container .servicos-cards .card .content-card p {
  color: #6a7c92;
  font-size: 15px;
  line-height: 1.33rem;
  font-weight: 300;
}

section.servicos .container .servicos-cards .card .content-card a {
  -webkit-transition: all 250ms ease-out 0s;
  transition: all 250ms ease-out 0s;
  color: #6a7c92;
  text-decoration: none;
  font-weight: 300px;
  padding: 10px 14px;
  font-size: 13px;
  margin-top: 20px;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #6a7c92;
  border-radius: 40px;
}

section.servicos .container .servicos-cards .card .content-card a:hover {
  background: #6a7c92;
  color: white;
}

section.servicos .container .servicos-cards .card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

section.empresas {
  height: 300px;
}

section.empresas .container {
  background: #f6f6f6;
  padding: 40px;
  height: 90%;
}

section.empresas .container h2 {
  color: #6a7c92;
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 400;
}

section.empresas .container .empresas-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 70%;
}

section.empresas .container .empresas-client .area-logo-client {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 2% 7%;
}

section.empresas .container .empresas-client .area-logo-client img {
  width: 100%;
}

section.empresas .container .empresas-client .area-logo-client:first-child {
  border: none;
}

section.empresas .container .empresas-client .area-logo-client:nth-of-type(3) {
  border: none;
}

section.empresas .container .empresas-client .area-logo-client:last-child {
  border-right: none;
}

section.formulario {
  padding: 40px 0px;
}

section.formulario .container h2 {
  color: #6a7c92;
  font-size: 21px;
  text-align: center;
  margin-bottom: 20px;
}

section.formulario .container .form form {
  text-align: right;
}

section.formulario .container .form form .space-form {
  position: relative;
  margin: 10px 0px;
  right: 250px;
}

section.formulario .container .form form .space-form label {
  margin-right: 20px;
  font-variant: small-caps;
  color: #6a7c92;
}

section.formulario .container .form form .space-form input, section.formulario .container .form form .space-form select, section.formulario .container .form form .space-form textarea {
  border-radius: 40px;
  border: 1px solid #cfcfcf;
  padding: 10px 20px 10px 10px;
  outline: none;
  width: 100%;
  max-width: 400px;
  display: inline-block;
}

section.formulario .container .form form .space-form input::-webkit-input-placeholder, section.formulario .container .form form .space-form select::-webkit-input-placeholder, section.formulario .container .form form .space-form textarea::-webkit-input-placeholder {
  color: #ccc;
}

section.formulario .container .form form .space-form input:-ms-input-placeholder, section.formulario .container .form form .space-form select:-ms-input-placeholder, section.formulario .container .form form .space-form textarea:-ms-input-placeholder {
  color: #ccc;
}

section.formulario .container .form form .space-form input::-ms-input-placeholder, section.formulario .container .form form .space-form select::-ms-input-placeholder, section.formulario .container .form form .space-form textarea::-ms-input-placeholder {
  color: #ccc;
}

section.formulario .container .form form .space-form input::placeholder, section.formulario .container .form form .space-form select::placeholder, section.formulario .container .form form .space-form textarea::placeholder {
  color: #ccc;
}

section.formulario .container .form form .space-form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}

section.formulario .container .form form .space-form select::after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #ccc;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

section.formulario .container .form form .space-form textarea {
  border-radius: 20px;
  height: 140px;
  resize: none;
  overflow: auto;
}

section.formulario .container .form form .space-form:nth-of-type(5) label {
  position: relative;
  top: -108px;
  left: 0px;
}

section.formulario .container .form form .space-form input[type="submit"] {
  border-radius: 40px;
  background-color: #ff682c;
  border: none;
  color: white;
  display: inline-block;
  width: 100%;
  max-width: 150px;
  padding: 15px 25px;
  position: relative;
  margin-top: 20px;
  right: 200px;
  -webkit-box-shadow: 0px 3px 10px -20px orangered;
          box-shadow: 0px 3px 10px -20px orangered;
}

footer {
  padding: 40px 0px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .endereco, footer .container .contato, footer .container .news {
  margin-bottom: 30px;
}

footer .container .endereco h2, footer .container .contato h2, footer .container .news h2 {
  margin-bottom: 10px;
  color: #6a7c92;
}

footer .container .endereco p, footer .container .contato p, footer .container .news p {
  color: #6a7c92;
}

footer .container .news {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .container .news input, footer .container .news button {
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 40px;
  outline: none;
}

footer .container .news input::-webkit-input-placeholder, footer .container .news button::-webkit-input-placeholder {
  color: #ccc;
}

footer .container .news input:-ms-input-placeholder, footer .container .news button:-ms-input-placeholder {
  color: #ccc;
}

footer .container .news input::-ms-input-placeholder, footer .container .news button::-ms-input-placeholder {
  color: #ccc;
}

footer .container .news input::placeholder, footer .container .news button::placeholder {
  color: #ccc;
}

footer .container .news button {
  background: #ff682c;
  color: white;
  border: none;
}

footer .social {
  width: 100%;
  border-top: 1px solid #ccc;
  padding-top: 30px;
  text-align: center;
}

footer .social a {
  color: #6a7c92;
}

@media screen and (max-width: 950px) {
  section.formulario .container .form form .space-form {
    right: 150px;
  }
}

@media screen and (max-width: 768px) {
  header nav .toggle {
    -webkit-transition: all 300ms ease-out 0s;
    transition: all 300ms ease-out 0s;
    width: 60px;
    height: 45px;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 20;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header nav .toggle .line {
    -webkit-transition: all 300ms ease-out 0s;
    transition: all 300ms ease-out 0s;
    background: white;
    width: 100%;
    height: 5px;
    border-radius: 20px;
  }
  header nav .toggle .line:first-child {
    width: 50%;
  }
  header nav .toggle .line:first-child {
    background-color: #ff682c;
  }
  header nav .t-active .line {
    height: 8px;
  }
  header nav .t-active .line:first-child {
    width: 100%;
    -webkit-transform: translate(0px, 20px) rotate(40deg);
            transform: translate(0px, 20px) rotate(40deg);
  }
  header nav .t-active .line:nth-child(2) {
    opacity: 0;
  }
  header nav .t-active .line:last-child {
    -webkit-transform: translate(0px, -11px) rotate(-40deg);
            transform: translate(0px, -11px) rotate(-40deg);
  }
  header nav ul.desktop {
    display: none;
  }
  header nav ul.mobile {
    -webkit-box-shadow: 0px 20px 57px 50px #0000008c;
            box-shadow: 0px 20px 57px 50px #0000008c;
    -webkit-transition: all 300ms ease-out 0s;
    transition: all 300ms ease-out 0s;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
    background-color: #6a7c92;
    padding: 40px 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: 110px;
  }
  header nav ul.mobile li {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  header nav ul.mobile li:nth-of-type(1) {
    margin-top: 70px;
  }
  header nav ul.mobile li:nth-of-type(3) {
    margin-bottom: 30px;
  }
  header nav ul.mobile.active-ul {
    opacity: 1;
    height: 45%;
  }
  header .banner {
    max-width: none;
    padding: 70px 0px;
    text-align: center;
  }
  header .banner h2 {
    font-size: 2rem;
  }
  header .banner p {
    font-size: 1.2rem;
  }
  header .banner form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .banner form input {
    font-size: 14px;
  }
  header .banner form input:first-child {
    margin-right: 0px;
  }
  header .banner form input:last-child {
    margin-top: 10px;
  }
  section.resenha {
    padding: 30px 2%;
  }
  section.resenha .container h3 {
    font-size: 1rem;
  }
  section.descricao-danki {
    padding-top: 0px;
  }
  section.descricao-danki .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.descricao-danki .container .detalhes {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 20px;
  }
  section.descricao-danki .container .detalhes h2 {
    font-size: 1.4rem;
  }
  section.descricao-danki .container .detalhes p {
    font-size: 1rem;
    line-height: 1.9rem;
  }
  section.descricao-danki .container .project-client {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    text-align: center;
  }
  section.descricao-danki .container .project-client img {
    display: inline-block;
  }
  section.depoimento-client .container {
    position: relative;
  }
  section.depoimento-client .container img {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  section.depoimento-client .container .depoimento {
    width: 100%;
    position: relative;
    z-index: 100;
    right: 0px;
  }
  section.depoimento-client .container .depoimento h4 {
    font-size: 0.9rem;
  }
  section.depoimento-client .container .depoimento small {
    font-size: 1.2rem;
  }
  section.servicos .container .servicos-cards .card {
    width: calc(95% / 2);
  }
  section.empresas .container .empresas-client .area-logo-client {
    padding: 1% 2%;
  }
  section.formulario .container .form form .space-form {
    text-align: center;
    position: static;
  }
  section.formulario .container .form form .space-form input {
    width: 70%;
    max-width: none;
  }
  section.formulario .container .form form .space-form label {
    display: block;
  }
  section.formulario .container .form form .space-form:nth-of-type(5) label {
    position: static;
  }
  section.formulario .container .form form .space-form input[type="submit"] {
    position: static;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .container .news {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 480px) {
  section.servicos .container .servicos-cards .card {
    width: 100%;
  }
  section.empresas {
    height: auto;
  }
  section.empresas .container .empresas-client {
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.empresas .container .empresas-client .area-logo-client {
    border: none;
    padding: 1% 2%;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  section.depoimento-client .container .depoimento h4 {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
}
/*# sourceMappingURL=style.css.map */